<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny DNS tool</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/css/bootstrap-1.4.min.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen, projection">
</head>
<body>
  <div class="page-header">
    <h1>DNS and WHOIS query tool</h1>
  </div>
  <%= show_flash %>
  <%= yield %>
</body>
</html>